@import "./variables/variables.scss";

.dashboard{
	background-color:$primaryColor;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	&__aside{
		@include Quicksand;
		.aside__create{
		    box-shadow: 0px 4px 8px rgb(54 123 245 / 16%), 0px 2px 4px rgb(54 123 245 / 24%);
		}
		.aside__switcher{
			cursor: pointer;
			transform: translateX(-18px);
			svg{
				margin-right: 16px;
			}
		}
		.aside__switcher.active{
			background-color: lighten($baseColor,30%);
			transition: all .3s;
			svg>path{
				transition: all .3s;
				fill: $baseColor;
			}
		}
	}
	&__table{
		@include Quicksand;
		.table__header{
			.header__inputs>label{
				width: 232px;
				height: 32px;
				input[type="text"]{
					width:45%;
					margin: 0 auto;
					background-color:transparent;
					&:focus{
						outline:none;
					}
				}
				span{
					border: 5px solid transparent; border-top: 5px solid $gray;
				}
			}
		}

	}
	&__datePicker{
		display: flex;
		justify-content: center;
		width: 100%;
		margin:50px auto 0;
		z-index: 100;
		position: absolute;
		left: 0;
		&.hidden{
			display: none;
		}
	}
}
