@import "./variables/variables.scss";

.dashboard{
	background-color:$primaryColor;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-height:500px;

	&__aside{
		@include Quicksand;
		.aside__create{
		    box-shadow: 0px 4px 8px rgb(54 123 245 / 16%), 0px 2px 4px rgb(54 123 245 / 24%);
		}
		.aside__switcher{
			cursor: pointer;
			transform: translateX(-18px);
			svg{
				margin-right: 16px;
			}
		}
		.aside__switcher.active{
			background-color: lighten($baseColor,30%);
			transition: all .3s;
			svg>path{
				transition: all .3s;
				fill: $baseColor;
			}
		}
	}
	&__table{
		@include Quicksand;
		.table__header{

			.header__inputs{
				label{
					width: 242px;
					height: 32px;
					p{
						width:50%;
						margin: 0 auto;
						background-color:transparent;
						text-align: center;
						font-size: 14px;
					}
					span:nth-child(4){
						width: 10px;
						height: 5px;
						margin-top: 5px;
						margin-left: 8px;
						border: 5px solid transparent; border-top: 5px solid #78909C;
						transition: all .3s;
					}
				}
				span{
					width: 32px;
					height: 32px;
					&:nth-child(2)>svg{
						width:11px;
						height: 10px;
						path{
							transition:all .3s;
						}
					}
					&:hover svg>path{
						transition:all .3s;
						fill:$baseColor;
					}
				}
			}
		}
		.table__sortRow{
			color: $gray;
			.sortRow__arrows>div>svg>path{
				transition: all .3s;
			}
			.sortRow__arrows>div>svg:nth-child(2){
				transform: rotateZ(180deg);
				margin-top: 4px;
				margin-left: -7%;
			}
		}
		.table__inputs{
			margin:20px 0;
			input{
				background-color:transparent;
				height: 32px;
				color:black;
				&:focus{
					outline: none;
				}
				&:first-child{
					width: 180px;
					margin-right: 32px;
				}
			}
			@for $i from 2 through 6{
				input:nth-child(#{$i}){
					width: 86px;
					&:not(:nth-child(2)){
						margin-left: 11%;
					}
				}
			}
		}	
	}
	&__datePicker{
		display: flex;
		justify-content: center;
		width: 100%;
		margin:50px auto 0;
		z-index: 100;
		position: absolute;
		left: 0;
		&.hidden{
			display: none;
		}
	}
}

:global(.item-exit ){
	opacity: 1;
	transition: opacity 500ms ease-out;
}
:global(.item-exit-active ){
	opacity: 0;
	transition: opacity 500ms ease-out;
}
:global(.item-enter){
	opacity: 0;
}
:global(.item-enter-active){
	opacity: 1;
	transition: opacity 500ms ease-out;
}